*.iml
.gradle
.idea/
local.properties
.DS_Store
build/
dists/
.classpath
.project
.settings/
Eclipse.project
*.class
*.log
*.swp
*~
.svn
.AppleDouble
.LSOverride
*.apk
*.ap_
*.dex
*.class
*.jar
.DS_Store
